body{
    background-color:#E9F1F7;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#weather-input{
    margin: 20px;

}
#input-text{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 5px;
}
#search{
    background-color: #623CEA;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border:none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(147, 147, 147);
    cursor: pointer;
}
#search:hover{
    background-color: #471ce2;
}
#search:active{
    background-color: #380ade;
}
#card{
    font-weight: bold;
    background: linear-gradient(180deg,#8b44e9,#E7DFC6);
    padding: 40px;
    border-radius: 10px;
    min-width: 250px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(57, 57, 57, 0.774);
}
h1{
    color: rgb(49, 49, 49);
    margin-top: 0px;
}
p{
    margin: 10px;
}
.city-name,.temparature{
    font-weight: bold;
    color: rgb(49, 49, 49);
    font-size: 3rem;
}
.humidity{
    font-size: 1.5rem;
}
.description{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 0px;
}
.weather-emoji{
    margin: 0;
    font-size: 7rem;
}
.error-display{
    font-size: 2.5rem;
    color: black;;
    font-weight:bold;
}